---
import FriendCard from "@components/FriendCard.astro";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import { Icon } from "astro-icon/components";
---

<MainGridLayout title="友链">
    <div class="card-base p-6 md:p-8">
        <div class="flex items-center gap-2 mb-6">
            <div class="h-8 w-8 rounded-lg bg-[var(--primary)] flex items-center justify-center text-white dark:text-black/70">
                <Icon name="material-symbols:diversity-3" class="text-[1.5rem]">
            </div>
            <h1 class="text-2xl font-bold text-black dark:text-white">友链</h1>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <FriendCard 
                url="https://xxtsoft.top", 
                name="xxtsoft", 
                description="xxt8582753（BSOD-MEMZ）的个人网站", 
                icon_url="https://xxtsoft.top/favicon.ico",
            />
            <FriendCard 
                url="https://www.lagsn.es",
                name="LAGSNES", 
                description="LAGSNES - 个人主页", 
                icon_url="https://lagsn.es/avatar.jpg",
            />
            <FriendCard 
                url="https://2x.nz",
                name="AcoFork Blog", 
                description="二叉树树的博客，为本站提供了相当一部分的灵感及代码", 
                icon_url="https://q2.qlogo.cn/headimg_dl?dst_uin=2726730791&spec=0",
            />
        </div>

    <!-- 申请友链 -->
    <div class="sponsors-section mt-8">
        	<h2 class="text-xl font-bold text-black dark:text-white mb-4 flex items-center gap-2">
        		<Icon name="material-symbols:group" class="text-[1.5rem] text-[var(--primary)]"/>
        		将您的网站加入本站友链
        	</h2>
        	<p class="text-sm text-black/60 dark:text-white/60">
        		请<a href="mailto://hxabcd1234@outlook.com">通过邮件联系站长</a>
        	</p>
        <br>
    </div>

</MainGridLayout>

